@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

html,
body {
  width: 100%;
  margin: 0;
  font: 112.5%/1.45em IBM Plex Sans, serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;

  display: flex;
  flex-flow: column;

  align-items: center;
}

:root {
  --font-serif: "Lora", serif;
  --font: "IBM Plex Sans", sans-serif;

  --primary: #455a64;
  --primary-light: #718792;
  --primary-dark: #1c313a;

  --secondary: #80cbc4;
  --secondary-light: #b2fef7;
  --secondary-dark: #4f9a94;

  /* shadow elevations similar to Material Design spec w/ css rules found here:
   https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
  */
  --el-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --el-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --el-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --el-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --el-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1 {
  font-family: var(--font-serif);
  font-weight: 700;
  font-size: 2.25rem;
}

h2 {
  font-family: var(--font-serif);
  font-weight: 600;
  font-size: 1.62671rem;
}

h3 {
  font-family: var(--font-serif);
  font-weight: 600;
  font-size: 1.38316rem;
}

h4 {
  font-family: var(--font);
  font-weight: bold;
  font-size: 1rem;
}

h5 {
  font-family: var(--font);
  font-weight: bold;
  font-size: 0.85028rem;
}

h6 {
  font-family: var(--font);
  font-weight: bold;
  font-size: 0.78405rem;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
}
