.root {
  background: var(--primary);
  color: white;
  padding: 0 20px;
  font-size: 1.7rem;

  height: 64px;

  display: flex;
  align-items: center;

  font-family: var(--font-serif);
}

slot[name="title"] {
  color: orange;
}

slot[name="title"],
span {
  margin-left: 4px;
}

#links {
  padding: 0 0 0 12px;

  display: flex;
  flex: 1;
  align-self: stretch;

  font-family: var(--font);
}

#links a {
  /* background: rgba(255, 255, 255, 0.2);/s */
  display: inline-flex;
  text-decoration: none;

  color: var(--secondary-light);

  align-self: stretch;
  place-items: center;
  padding: 8px;

  border: 6px solid var(--primary);
  border-bottom-color: var(--primary);
  transition: border-bottom-color 250ms ease-in-out;
}

#links a:hover {
  border-bottom-color: var(--secondary-light);
}

#links a.selected {
  border-bottom-color: var(--secondary);
}
